
/* #red{
  color: red;
  background-color: red;
  text-decoration: dashed;
  border-top: 3px solid whitesmoke;
} */
link-list {
    padding: 0px;
  }
  
  .link-list-item {
   
  }
  

  #inner{
    text-align: left;
    font-size: 0.9rem;
    border-radius: 10px;
    padding: 10px;
  /* Created with https://www.css-gradient.com */
/* background: #8A1F92;
background: -webkit-linear-gradient(left, #8A1F92, #C001B9);
background: -moz-linear-gradient(left, #8A1F92, #C001B9);
background: linear-gradient(to right, #8A1F92, #C001B9); */

/* Created with https://www.css-gradient.com */
background: #38CE8A;
background: -webkit-linear-gradient(top left, #38CE8A, #7718EE);
background: -moz-linear-gradient(top left, #38CE8A, #7718EE);
background: linear-gradient(to bottom right, #38CE8A, #7718EE);
  }
  
  .link-list-item-url {
    text-decoration: none;
    margin: 6px;
    display: block;
    color: #1d1d1d;
    background-color: #f1f1f1;
    padding: 8px;
    border-radius: 3px;
    box-shadow: 2px 2px 4px rgba(150, 149, 149, 0.4);
  }
  